.custom-btn-style {
    /* Agrega tus estilos personalizados aquí */
    /* Ejemplo de estilos */
    background-color: #331d80;
    color: #ffffff;
    border-radius: 20px;
    font-size: 16px;
  padding: 10px 20px;
  }
  