<!-- Essential javascripts for application to work-->
<script src="../Assets/js/functions_roles.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="js/plugins/pace.min.js"></script>


<div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <div class="table-responsive">
            <table class="table table-hover table-bordered" id="tableRoles">
              <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>P. Costo</th>
                    <th>Marca</th>
                    <th>Categoria</th>
                    <th>Azúcar</th>
                    <th>IVA</th>
                    <th>Foto</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum ut aliquam adipisci corporis? Laborum, autem error? Sunt dolorum sapiente animi odit. Vitae quia dolor et amet nulla dolorum nam ab?
                holaa
              </p>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>